@import "../../../variables";

.workout-panel {
  outline: $theme-light-grey solid 2.5px;
}

.home-user-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

  .user-card {
    height: 10rem;
    min-width: 28.5%;
    @media (max-width: 600px) {
      width: 95%;
    }
  }
}

.history-card {
  min-height: 10rem;
  margin: 0 auto;
  width: 60%;

  @media (max-width: 600px) {
    width: 95%;
  }
}

.title-button {
  margin-left: 1rem;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  &:hover {
    outline: $theme-dark solid 1px;
    background-color: $theme-grey;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
}

.avatar {
  height: 8rem;
  width: 8rem;
  position: relative;
  border: 1px solid $theme-dark;

  .arrow {
    &.left-hair {
      position: absolute;
      left: -15px;
      top: 2rem;
    }
    &.left-eyes {
      position: absolute;
      left: -15px;
      top: 5rem;
    }
    &.right-hair {
      position: absolute;
      right: -15px;
      top: 2rem;
    }
    &.right-eyes {
      position: absolute;
      right: -15px;
      top: 5rem;
    }
  }
}

.edit-profile-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
}
