<div class="profile">

    <div class="avatar" id="{{AVATAR_KEY}}">
    </div>

    <div class="details">
        <div class="details-element">
            <div class="label">Username:</div>
            <div>{{accountDetails.username}}</div>
        </div>
        <div class="details-element">
            <div class="label">Name:</div>
            <div>{{accountDetails.firstName}} {{accountDetails.lastName}}</div>
        </div>
        <div class="details-element">
            <div class="label">Age:</div>
            <div>{{accountDetails.age}}</div>
        </div>
        <div class="details-element">
            <div class="label">Email:</div>
            <div>{{accountDetails.email}}</div>
        </div>
    </div>
</div>