<div class="gap-2 columns-3">

    <div class="analysis-box">
        <div class="analysis-box-label">
            Total Exercises:
        </div>
        <div class="analysis-box-score">
            {{analysis.numberOfExercises}}
        </div>
    </div>
    <div class="analysis-box">
        <div class="analysis-box-label">
            Average Weight:
        </div>
        <div class="analysis-box-score">
            {{analysis.avgWeight}} kg
        </div>
    </div>
    <div class="analysis-box">
        <div class="analysis-box-label">
            Average Reps:
        </div>
        <div class="analysis-box-score">
            {{analysis.avgReps}}
        </div>
    </div>

</div>