<div class="icon-container-sm" [class.light]="lightTheme" [class.dark]="!lightTheme" (click)="onClick()">
    <div [ngClass]="{
        'icon-success-base' : iconColorType ==='icon-success',
        'icon-warning-base' : iconColorType ==='icon-warning',
        'icon-info-base' : iconColorType ==='icon-info',
        'icon-info-default' : iconColorType ==='icon-default',
        'icon-sm': true
    }">
        <span [ngClass]="{
            'icon-success-base' : iconColorType ==='icon-success',
            'icon-warning-base' : iconColorType ==='icon-warning',
            'icon-info-base' : iconColorType ==='icon-info',
            'icon-info-default' : iconColorType ==='icon-default'
        }">
            <mat-icon>{{matIconName}}</mat-icon>
        </span>
    </div>
    <div class="text-center text-sm">{{iconTitle}}</div>
</div>