@import "../../../variables.scss";

.icon-container-sm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.125rem;
  padding: 0 0.5rem;

  border-radius: 5%;

  .icon-sm {
    height: 1.3rem;
  }

  &:hover {
    opacity: 0.85;
    cursor: pointer;
  }

  &.light {
    color: $theme-white;
  }

  &.dark {
    color: $theme-dark;
  }
}
