<mat-card class="card" [appearance]="'outlined'">
    <mat-card-header>
        <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form" class="register-form">

            <app-avatar-editor [showOptions]="false" (changeEvent)="onChangeAvatar($event)"></app-avatar-editor>

            <div class="row">
                <mat-form-field>
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName">
                </mat-form-field>
            </div>
            <div class="column">
                <div class="row">
                    <mat-form-field>
                        <mat-label>Username</mat-label>
                        <input matInput formControlName="username">
                    </mat-form-field>
                    <div class="username-validation">

                    </div>
                </div>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>
            </div>
            <mat-form-field>
                <mat-label>Gender</mat-label>
                <mat-select name="gender" formControlName="gender">
                    <mat-option [value]="genders.MALE">
                        Male
                    </mat-option>
                    <mat-option [value]="genders.FEMALE">
                        Female
                    </mat-option>
                    <mat-option [value]="genders.OTHER">
                        Other
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Age</mat-label>
                <input matInput type="number" formControlName="age">
            </mat-form-field>
            <div class="column">

                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Confirm Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="passwordConfirm">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>

            </div>
        </form>

    </mat-card-content>
    <mat-card-actions [align]="'end'">
        <button mat-flat-button color="primary" (click)="submit()">Submit</button>
        <!-- <button mat-flat-button color="primary" (click)="filldummydata()">test</button> -->
    </mat-card-actions>
</mat-card>