.register-form {
  .column {
    display: flex;
    flex-direction: column;
  }

  .row {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  .username-validation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
