<div class="login-container">
    <mat-card class="card" [appearance]="'outlined'">
        <mat-card-content class="login-card-details-container">
            <div>
                <img class="logo-big" src="../../../assets/png/logo-cropped-transparent.png" alt="">
                <div class="logo-subtitle"> -- Workout Tracker -- </div>
                <div class="logo-divider">
                    <mat-divider></mat-divider>
                </div>
            </div>

            <form [formGroup]="form" class="login-form-container">
                <mat-form-field class="login-form-field">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username">
                    <mat-error *ngIf="form.controls['username'].hasError('required')">Please enter a
                        valid username</mat-error>
                </mat-form-field>
                <mat-form-field class="login-form-field">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="form.controls['password'].hasError('required')">Please enter a
                        valid password</mat-error>
                </mat-form-field>
                <div class="no-account">
                    Dont have an account? <a routerLink="/register">Register here</a>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions [align]="'end'">
            <button mat-flat-button color="primary" (click)="submit()">
                <span *ngIf="!(isLoading$ |async)">Login</span>
                <span *ngIf="(isLoading$ |async)"><mat-spinner [diameter]="30" [strokeWidth]="7"></mat-spinner></span>
            </button>
        </mat-card-actions>
    </mat-card>
</div>