<mat-toolbar>
  <button mat-icon-button (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Workout Tracker</span>
  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<mat-toolbar *ngIf="showMenu">
  <mat-tab-group>
    <mat-tab label="Home" (click)="goToHome()"></mat-tab>
    <mat-tab label="Workout" (click)="goToWorkout()"></mat-tab>
  </mat-tab-group>
</mat-toolbar>


<app-error-banner></app-error-banner>

<router-outlet></router-outlet>
