<mat-toolbar>
  <button mat-icon-button (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <span><a [routerLink]="(isLoggedIn$ | async) ? '/home':'/'">Workout Tracker</a></span>
  <span class="spacer"></span>
  <app-health [displayError]="true"></app-health>
  <div *ngIf="(isLoggedIn$ | async) && accountDetails" mat-icon-button class="flex justify-center align-center">

    <app-icon [matIconName]="'account_circle'" [iconTitle]="accountDetails.username"
      (clickEvent)="goToHome()"></app-icon>

    <app-icon [matIconName]="'exit_to_app'" [iconTitle]="'logout'" (clickEvent)="logout()"></app-icon>

  </div>
</mat-toolbar>
<mat-toolbar *ngIf="showMenu">
  <mat-tab-group>
    <mat-tab label="Home" (click)="goToHome()"></mat-tab>
    <mat-tab label="Workout" (click)="goToWorkout()"></mat-tab>
  </mat-tab-group>
</mat-toolbar>

<app-error-banner></app-error-banner>
<app-toast></app-toast>

<router-outlet></router-outlet>

<div class="footer">
  <span>{{envName}} - {{version}}</span>
</div>