<div *ngIf="isLoading" class="overlay-box">
  <mat-spinner [strokeWidth]="15"></mat-spinner>
</div>

<mat-stepper orientation="vertical" [linear]="true" #stepper>

  <mat-step *ngFor="let entry of exercises; let i = index" [stepControl]="entry" class="workout-step">
    <form [formGroup]="entry" class="flex flex-col justify-start">

      <ng-template matStepLabel>
        <div class="flex flex-row gap-20">

          <div class="flex items-center justify-center">
            <span
              *ngIf="exercises[i].controls['exercise'].value !== ''">{{exercises[i].controls['exercise'].value|titlecase}}</span>
            <span *ngIf="exercises[i].controls['exercise'].value === ''">Exercise {{i + 1}} of
              {{exercises.length}}</span>
            <span *ngIf="commited && savedExercises[i]"><mat-icon
                class="icon-success">check_circle_outline</mat-icon></span>
            <span *ngIf="commited && entry.touched && !savedExercises[i]"
              class="icon-warning"><mat-icon>error_outline</mat-icon></span>
          </div>

          <div *ngIf="false" class="flex items-center workout-navigation-arrows-container"
            (click)="$event.stopPropagation()">
            <button mat-button matStepperPrevious><mat-icon>keyboard_arrow_up</mat-icon></button>
            <button mat-button matStepperNext><mat-icon>keyboard_arrow_down</mat-icon></button>
          </div>
        </div>

      </ng-template>

      <mat-form-field appearance="outline" style="margin-top:.5rem">
        <mat-label>Exercise</mat-label>

        <mat-select name="food" formControlName="exercise" (selectionChange)="onFormChange(i)">
          <mat-option *ngFor="let option of types" [value]="option.name">
            {{option.name | titlecase}}
          </mat-option>
        </mat-select>
      </mat-form-field>



      <div class="weight-input">
        <div class="weight-add">
          <mat-form-field appearance="outline" style="width: 5rem">
            <mat-label>Weight</mat-label>
            <input matInput type="number" formControlName="weight" [(ngModel)]="weights[i]" (change)="onFormChange(i)">
          </mat-form-field>
        </div>
        <div class="quick-add">
          <button mat-fab color="accent" (click)="incrementWeight(i, 2.5)">+2.5 kg</button>
          <button mat-fab color="accent" (click)="incrementWeight(i, 5)">+5 kg</button>
          <button mat-fab color="accent" (click)="incrementWeight(i, 10)">+10 kg</button>
          <button mat-fab color="accent" (click)="incrementWeight(i, 20)">+20 kg</button>
        </div>
      </div>


      <div class="flex justify-center gap-px">

        <mat-form-field appearance="outline">
          <mat-label>Reps</mat-label>
          <input matInput type="number" formControlName="reps" required min="0" (change)="onFormChange(i)">
        </mat-form-field>

        <div class="flex justify-center">
          <div class="my-auto icon-multiply">
            <mat-icon>close</mat-icon>
          </div>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Sets</mat-label>
          <input matInput type="number" formControlName="sets" required min="0" (change)="onFormChange(i)">
        </mat-form-field>
      </div>

      <div class="flex justify-end gap-5">
        <button *ngIf="i+1 === exercises.length" mat-flat-button color="primary" (click)="addToWorkout(entry, i)">
          Add
          <mat-icon>add_circle_outline</mat-icon>
        </button>
        <button *ngIf="i+1 < exercises.length" mat-flat-button color="primary" (click)="updateWorkout(entry, i)">
          Update
          <mat-icon>update</mat-icon>
        </button>
        <button mat-flat-button color="primary" (click)="openBottomSheet()">
          Finish
          <mat-icon>save</mat-icon>
        </button>
      </div>

    </form>
  </mat-step>

</mat-stepper>

<div>


</div>