.workout-navigation-arrows-container {
  .mdc-button {
    min-width: 1rem;
    text-align: center;
  }
}

.workout-save-dialog {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  .star-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    width: 80%;
  }

  .button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
  }
}

.weight-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  .mdc-text-field__input {
    font-size: 1.5rem !important;
    text-align: center !important;
  }
  .weight-add {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }

  .quick-add {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }

  .mat-mdc-fab,
  .mat-mdc-mini-fab {
    box-shadow: none !important;
  }
}
