.error-warning-base {
  background-color: #ff82828f !important;
  margin: 0.25rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
}
.error-info-base {
  background-color: #f1cc909e !important;
  margin: 0.25rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
}
