$theme-columbia: #cee5f2;
$theme-columbia-dark: #accbe1;
$theme-air: #7c98b3;
$theme-payne: #637081;
$theme-payne-dark: #536b78;
$theme-dark: #454545;
$theme-white: #fafafa;

$icon-yellow: #fcca46;
$icon-grey: #999999;

$color-hyperlink: #0000ff;

$theme-light-green: #55efc4;
$theme-green: #00b894;
$theme-light-yellow: #ffeaa7;
$theme-yellow: #fdcb6e;
$theme-light-blue: #74b9ff;
$theme-blue: #0984e3;
$theme-light-red: #ff7675;
$theme-red: #d63031;
$theme-light-grey: #dfe6e9;
$theme-grey: #b2bec3;
