$theme-columbia: #cee5f2;
$theme-columbia-dark: #accbe1;
$theme-air: #7c98b3;
$theme-payne: #637081;
$theme-payne-dark: #536b78;
$theme-dark: #454545;
$theme-white: #fafafa;

$icon-yellow: #fcca46;
$icon-grey: #999999;

$color-hyperlink: #0000ff;
