$theme-columbia: #CEE5F2;
$theme-columbia-dark: #ACCBE1;
$theme-air: #7c98b3;
$theme-payne: #637081;
$theme-payne-dark: #536B78;
$theme-dark:#454545;
$theme-white: #fafafa;

$icon-yellow: #fcca46;
$icon-grey: #999999;