/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./_variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat");

html,
body {
  height: 100%;
  color: $theme-dark;
  font-family: "Montserrat", sans-serif !important;
}

body {
  margin: 0;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
}

.icon-success {
  padding-top: 0.12rem;
  padding-left: 0.12rem;
  color: #2e7d32;
}

.icon-warning {
  padding-top: 0.12rem;
  padding-left: 0.12rem;
  color: #c62828;
}

.icon-info {
  padding-top: 0.12rem;
  padding-left: 0.12rem;
  color: #f9a825;
}
.icon-success-base {
  color: $theme-green !important;
}
.icon-warning-base {
  color: #c62828 !important;
}
.icon-info-base {
  color: #f9a825 !important;
}
.icon-info-default {
  color: #a7a7a7 !important;
}
.icon-multiply {
  font-size: 1.25rem;
  font-weight: bolder;
}

.icon-star {
  color: $icon-yellow;
}

.icon-trash {
  color: $icon-grey;
  opacity: 0.75;

  &:hover {
    opacity: 1;
  }
}

.overlay-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $theme-payne-dark;
  border: 1px solid $theme-white;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #454545;
}

.mat-mdc-card {
  border-radius: 71px;
  background: #ffffff;
}

.spacer {
  flex: 1 1 auto;
}

.mat-vertical-content-container {
  margin-left: 0px !important;
}

.text-sm {
  font-size: 0.75rem;
}

mat-error {
  font-size: 0.75rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.card {
  background-color: $theme-light-blue;
  .title {
    display: flex;
    gap: 1rem;
    font-weight: bolder;
  }
}

.toast {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .dismiss {
    display: flex;
    justify-content: start;
    align-items: start;
  }
}

.mat-mdc-snack-bar-container {
  &.workout-tracker-toast-help {
    --mdc-snackbar-container-color: #b3e6f5;
    --mdc-snackbar-supporting-text-color: $theme-dark;
    border: 1px solid $theme-dark;
  }
  &.workout-tracker-toast-success {
    --mdc-snackbar-container-color: #00b894 !important;
  }
}
.mat-mdc-card-header {
  background-color: $theme-light-grey;

  min-height: 3rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

.logo-big {
  height: 8rem;
}
.logo-divider {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.logo-subtitle {
  text-align: center;
  color: $theme-dark;
  font-style: bold;
  font-size: 0.75rem;
}

.toolbar-list {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  .toolbar-option {
    color: $theme-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1rem;
    min-height: 2rem;
    &:hover {
      background-color: $theme-light-grey;
    }
  }
}

.main-app-toolbar {
  background-color: $theme-grey;
}

th {
  font-weight: bold !important;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.content-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0.5rem;
  color: $theme-dark-light;

  h1,
  h2,
  h3 {
    padding: 0;
    margin: 0;
  }

  h1 {
    color: $theme-dark;
    font-weight: 700;
  }
}

.gutter {
  @media (min-width: $breakpoint-tablet) {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 1rem;
  }
}

.mdc-notched-outline__notch {
  border-right: none;
}
