/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./_variables.scss";

html,
body {
  height: 100%;
  color: $theme-dark;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.icon-success {
  padding-top: 0.12rem;
  padding-left: 0.12rem;
  color: #2e7d32;
}

.icon-warning {
  padding-top: 0.12rem;
  padding-left: 0.12rem;
  color: #c62828;
}

.icon-info {
  padding-top: 0.12rem;
  padding-left: 0.12rem;
  color: #f9a825;
}
.icon-success-base {
  color: #2e7d32 !important;
}
.icon-warning-base {
  color: #c62828 !important;
}
.icon-info-base {
  color: #f9a825 !important;
}
.icon-info-default {
  color: #a7a7a7 !important;
}
.icon-multiply {
  font-size: 1.25rem;
  font-weight: bolder;
}

.icon-star {
  color: $icon-yellow;
  text-shadow: 0px 0px 9px $theme-dark;
}

.icon-trash {
  color: $icon-grey;
  opacity: 0.75;

  &:hover {
    opacity: 1;
  }
}

.overlay-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $theme-payne-dark;
  border: 1px solid $theme-white;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #454545;
}

.mat-mdc-card {
  border-radius: 71px;
  background: #ffffff;
}

.spacer {
  flex: 1 1 auto;
}

.mat-vertical-content-container {
  margin-left: 0px !important;
}

.text-sm {
  font-size: 0.75rem;
}

mat-error {
  font-size: 0.75rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
