@use "@angular/material" as mat;
@import url("https://fonts.googleapis.com/css2?family=Montserrat");

$my-primary: mat.define-palette(mat.$blue-grey-palette, 500);
$my-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
    typography:
      mat.define-typography-config(
        $font-family: '"Montserrat", sans-serif;',
      ),
    density: 0,
  )
);

@include mat.all-component-themes($my-theme);
@include mat.button-theme($my-theme);
